*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 120px;
    display: block;
    /* background-color: #101010; */
    background-image: url('../img/mjbg.jpg');
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(238, 152, 82, 0.884);
    opacity: 0.98;
}

.logo_container{
    height: 100%;
    display: table;
 
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 80px;
    font-Family: "Roboto Condensed", sans-serif;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    font-Family: "Roboto Condensed", sans-serif;
}

h3 {
    color: rgb(37, 37, 37);
    text-align: center;
    font-size: 20px;
    font-Family: "Roboto Condensed", sans-serif;
}

.form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    text-align: center;
}

.results {
    text-align:center;
    font-size: 30px;
}