*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 120px;
    display: block;
    /* background-color: #101010; */
    background-image: url('../img/mjbg.jpg');
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(238, 152, 82, 0.884);
    opacity: 0.98;
}

.logo_container{
    height: 100%;
    display: table;
 
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 80px;
    font-Family: "Arial";
}